<?xml version="1.0"?>
<configdata>
    <Workflowname>App_Sanity_Check_V1</Workflowname>
    <Logfolderpath>G:\OJT Week2</Logfolderpath>
    <AppURL>https://powerautomate.microsoft.com/en-us/</AppURL>
    <fromemail>aduser.movie30@gmail.com</fromemail>
    <tomail>akashkirodiwal77@gmail.com</tomail>
</configdata>
